/*
Colors used:
Primary/Background Color (Charcoal): #282828;
Secondary/Nav Bars & Section Headings Color (Black): #000000;
Text Color (White): #FFFFFF;
Subtext Color (Slate): #B9B9B9;
Highlight Color (Emerald): #77E3C6

Font used::
Headings: Oxygen, Bold
Subheadings: Fira Sans Condensed, Bold
Body paragraphs: Rubik, Regular
*/
* {
    box-sizing: border-box;
  }
body {
    background-color:#282828;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
h1,h2,h3{
    line-height: 1.2;
}
h1{
    font-family: 'Oxygen', sans-serif;
    font-size: 26px;
    font-weight: 700;  
}
h2,h3{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 700;  
}
h2{
    font-size: 24;
}
h3{
    font-size: 20;
}
img {
    width: 100%;
  }
  a{
    color:cadetblue 
  }
  a:visited { /* visited link */
    color: #B9B9B9;
  }
  a:hover { 
    color: #77E3C6;
  }
  a:hover,
  a:focus {
    color: #77E3C6;
    text-decoration: underline;
  }
  a:active { /* selected link */
    color: #15b7bf;
  }
  .button {
    display: inline-block; 
    background-color: cadetblue;
    color: #ffffff; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgb(56, 98, 99); /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button:active {
    opacity: 1.4; 
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: cadetblue;
    text-transform: uppercase;
    border: 2px solid cadetblue;
  }
  .button.contact:hover {
    background-color: cadetblue;
    color: #ffffff;
  }
  .button.contact:active {
    background-color: #77E3C6;
    color: #ffffff;
  }
  /* Layout styling */
  .container {
    padding: 0 15px;
  }